<th:block layout:fragment="head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Very cool web shop">
    <meta name="author" content="Lukša Kraljević">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge" /> -->
<!--     <link rel="icon" href="../../../../favicon.ico"> -->

    <title>Denube web shop</title>

	<link th:href="@{/css/bootstrap.min.css}" href="css/bootstrap.min.css" rel="stylesheet" />
	<link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
	<link href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css"/>
	<link th:href="@{/css/danube-webshop.css}" href="css/danube-webshop.css" rel="stylesheet" />
	

</th:block>
