<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<th:block layout:fragment="content">
	<div class="container">
		<div th:if="${#lists.size(items) == 0}">
			<h1>Your basket is empty.</h1>
		</div>
		<div th:if="${#lists.size(items) != 0}">
			<table id="itemTable" class="table table-striped">
				<thead>
					<tr>
						<th scope="col">No.</th>
						<th scope="col">Name</th>
						<th scope="col">Category</th>
						<th scope="col">Date</th>
						<th scope="col">Delete</th>
					</tr>
				</thead>
				<tr th:each="item, iter : ${items}">
					<td th:text="${iter.index+1}"></td>
					<td th:text="${item.item.name}"></td>
					<td th:text="${item.item.category.name}"></td>
					<td th:text="${item.item.timestamp}"></td>
					<td>
						<button class="btn btn-default"
							th:attr="data-href=@{/basket/remove}+'?id='+${item.id}"
							data-toggle="modal" data-target="#confirm-delete">
							Remove from basket</button>
					</td>

				</tr>
			</table>
		</div>
	</div>
	<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h2>Confirm removal</h2>
				</div>
				<div class="modal-body">Are you sure?</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<a class="btn btn-danger btn-ok">Delete</a>
				</div>
			</div>
		</div>
	</div>
	<script>
		$(document).ready(function() {
			$('#itemTable').DataTable({
				"info" : false,
				"lengthChange" : false,
				"pageLength" : 4,
				"searching" : false
			});
		});
		$('#confirm-delete').on('show.bs.modal', function(e) {
		    $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
		});
	</script>
</th:block>
</html>
