<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<th:block layout:fragment="content">
<div class="card">
    <div class="card-header">
        <h1 th:text="#{user.index.prva}">Nelokalizirani naslov</h1>
    </div>

	<div class="card-body card-padding">
		<div class="row">
			<div class="col-xs-12">
		        <p>
		        
					<a href="http://www.isvu.hr" target="_blank">ISVU</a> je složen informacijski sustav koji prvenstveno olakšava provedbu administrativnih poslova
					na razini visokog učilišta. Na ovim stranicama prikazani su ključni pokazatelji rada i 
					korištenja sustava.
				</p>
				<p>
					ISVU se koristi na više od 110 visokih učilišta, koristi ga više od 140.000 studenata i 
					13.500 djelatnika tih visokih učilišta. Uz njih, na ISVU se spaja više od 110 aplikacija 
					visokih učilišta putem programskog sučelja za pristup procedurama i podacima visokih 
					učilišta (<a href="https://www.isvu.hr/api/" target="_blank">ISVU REST API</a>). 
					Sustav pokriva većinu administrativnih poslova u vezi sa 
					studentima i njihovim studiranjem koje visoko učilište mora obavljati.
				</p>
				<p>
					Različitim ulogama, tj. kategorijama korisnika, namijenjeni su različiti ISVU moduli, 
					od kojih je korisnicima dostupno ukupno 12. Tako studenti koriste isključivo 
					<a href="https://www.isvu.hr/studomat/" target="_blank">Studomat</a>, 
					nastavnici <a href="https://www.isvu.hr/nastavnici/" target="_blank">Nastavnički portal</a> 
					i/ili Ispiti, djelatnici studentskih referada 
					modul Studiji i studenti itd. Neki su od tih modula, poput Studiji i studenti te Ispiti,  
					desktop aplikacije koje korisnici moraju instalirati na svoja računala, a dio su 
					<em>web</em>-aplikacije, poput Studomata i Nastavničkog portala, ali i Skladišta podataka.
				</p>
				<p>
					Tijekom ispitnih rokova i upisa godina, kada se sustav najviše koristi, na Studomatu se obavi 
					40.000 do 60.000 prijava za rad. Tada se na Nastavničkom portalu za rad dnevno prijavi između 
					3.200 i 4.600 nastavnika, a u <em>desktop</em> aplikacije se tih mjeseci dnevno za rad prijavi oko 
					2.800 djelatnika visokih učilišta.
				</p>
				<p>
					Uz sve navedene korisnike ISVU mora odraditi i sve zahtjeve raznih aplikacija na visokim 
					učilištima koje se na ISVU spajaju programskim putem koristeći ISVU REST API. Više od 110 
					takvih aplikacija generira oko 1.000.000 zahtjeva koje na dnevnoj bazi odrađuje ISVU REST API. 
				</p>
				<p>
					Za detaljniji pregled pojedine kategorije podataka, poput studenata ili kadrova, 
					<strong>odaberite</strong> odgovarajuću opciju iz izbornika. 
				</p>
			</div>
		</div>
	</div>
</div>

</th:block>
</html>