<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<th:block layout:fragment="content">
	<div class="row">
		<div class="card">
			<div class="card-header">
				<h1 th:text="#{user.index.prva}">Nelokalizirani naslov</h1>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="card-body card-padding">
			<div class="col-xs-12">
				Logged user: <span sec:authentication="name">xxx</span> </br> Roles: <span
					sec:authentication="principal.authorities">[Reee]</span>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-xs-2 pull-right">Search</div>
		</div>
		<div class="row">
			<div class="col-xs-2 pull-right">
				<label for="productCategorySelect" class="sr-only">Product
					category:</label> <select class="form-control pagination"
					id="productCategorySelect">
					<option text="-- ALL --" value=""></option>

					<option th:each="category : ${productCategories}"
						th:text="${category.name}" th:value="${category.name}"></option>
				</select>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-2">
				<button class="btn btn-sm btn-primary btn-block" type="submit">Clear</button>
			</div>
			<div class="col-xs-2">
				<button class="btn btn-sm btn-primary btn-block" type="submit">Search</button>
			</div>
		</div>
	</div>
	<div class="row">
		<div sec:authorize='hasAuthority("ROLE_ADMIN")'>
			<div class="col-xs-2">
					<button class="btn btn-md" type="button" th:onclick="'openItemModal(\'new\');'">Add new item</button>
						
			</div>
		</div>
	</div>

	<div class="row">
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">Picture</th>
					<th scope="col">Name</th>
					<th scope="col">Category</th>
					<th scope="col">Date</th>
					<th scope="col">Add</th>
				</tr>
			</thead>
			<tr th:each="item : ${items}" > <!--   th:onclick="'javascript:openItemModal(\'' +${item.id} + '\');'">-->
<!-- 				<form th:action="@{/basket/add}" method="GET"> -->
<!-- 					<input type="hidden" th:name="item_id" th:value="${item.id}" /> -->
					<td th:text="${item.pictureUrl}"></td>
					<td>
						<button class="btn btn-md" type="button" th:onclick="'openItemModal(\'' +${item.id} + '\');'" th:text="${item.name}"></button>
					
					</td>
					<td th:text="${item.category.name}"></td>
					<td th:text="${item.timestamp}"></td>
					<td>
						<button class="btn btn-md" type="button" th:onclick="'addToCart(\'' +${item.id} + '\');'">Add</button>
					</td>
<!-- 				</form> -->
			</tr>
		</table>
	</div>
	<div class="row">
		<div class="form-group col-md-1">
			<select class="form-control pagination" id="pageSizeSelect">
				<option th:each="pageSize : ${pageSizes}" th:text="${pageSize}"
					th:value="${pageSize}"
					th:selected="${pageSize} == ${selectedPageSize}"></option>
			</select>
		</div>
		<div th:if="${items.totalPages != 1}"
			class="form-group col-md-11 pagination-centered">
			<ul class="pagination">
				<li th:class="${items.number == 0} ? disabled"><a
					class="pageLink"
					th:href="@{/(pageSize=${selectedPageSize}, page=1)}">&laquo;</a></li>
				<li th:class="${items.number == 0} ? disabled"><a
					class="pageLink"
					th:href="@{/(pageSize=${selectedPageSize}, page=${items.number})}">&larr;</a>
				</li>
				<li
					th:class="${items.number == (page - 1)} ? 'active pointer-disabled'"
					th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
					<a class="pageLink"
					th:href="@{/(pageSize=${selectedPageSize}, page=${page})}"
					th:text="${page}"></a>
				</li>
				<li th:class="${items.number + 1 == items.totalPages} ? disabled">
					<a class="pageLink"
					th:href="@{/(pageSize=${selectedPageSize}, page=${items.number + 2})}">&rarr;</a>
				</li>
				<li th:class="${items.number + 1 == items.totalPages} ? disabled">
					<a class="pageLink"
					th:href="@{/(pageSize=${selectedPageSize}, page=${items.totalPages})}">&raquo;</a>
				</li>
			</ul>
		</div>
	</div>
	<div id="itemModalHolder"></div>
	<script>
	function openItemModal(id) {
		$.ajax({ type : "GET",
			url: "http://localhost:8080/item/" +  id,
			success: function(data) {
				$("#itemModalHolder").html(data);
				$("#itemModal").modal("show");
		     },
		     complete: function(xhr, textStatus) {
		         console.log(xhr.status);
			}
		});
	}
	
	function addToCart(id) {
		$.get({
		     url: "http://localhost:8080/basket/add",
		     data: { "id": id },
		     success: function(data, textStatus, xhr) {
		         console.log(xhr.status);
		     },
		     complete: function(xhr, textStatus) {
		         console.log(xhr.status);
		     } 
		});
	}
	</script>
</th:block>
</html>
