<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<th:block layout:fragment="content">
	<div class="container">
		<div class="card" style="width: 1000px;">
			<div class="card-header">
				<h1>Danube web shop</h1>
			</div>
		</div>
		<div class="card-body">
	
		<form th:action="@{/}" method='GET'>
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4">Search product:</div>
				<div class="col-md-4">
					<input type="text" id="productSearch" class="form-control"
						name="searchString">
				</div>
			</div>
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4">Search by:</div>
				<div class="col-md-4">
					<select class="form-control" name="searchCriteria"
						id="searchCriteria">
						<option value="">All categories</option>
						<option th:each="category: ${productCategories}"
							th:value="${category.id}" th:text="${category.name}"></option>
					</select>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4" sec:authorize='hasAuthority("ROLE_ADMIN")'>
					<button class="btn btn-sm btn-primary btn-block" type="button"
						th:onclick="'openItemModal(\'new\');'">Add new item</button>
				</div>
				<div class="col-md-4"></div>

				<div class="col-md-2">
					<button class="btn btn-sm btn-primary btn-block" type="submit"
						name="all" value="all">Clear</button>
				</div>
				<div class="col-md-2">
					<button class="btn btn-sm btn-primary btn-block" type="submit">Search</button>
				</div>
			</div>
		</form>

	</div>
	<div th:if="${items.totalElements == 0}">
		<h2>No items for this criteria</h2>
	</div>
	<div th:if="${items.totalElements != 0}">

		<div class="row">
			<table id="itemTable" class="table table-striped table-bordered">
				<thead>
					<tr>
						<th scope="col">Picture</th>
						<th scope="col">Name</th>
						<th scope="col">Category</th>
						<th scope="col">Date</th>
						<th scope="col">Add</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="item : ${items}">
						<td><img th:src="@{${item.pictureUrl}}" class="img-thumbnail">
						</td>
						<td><a href="#"
							th:onclick="'openItemModal(\'' +${item.id} + '\');'"
							th:text="${item.name}"></a></td>
						<td th:text="${item.category.name}"></td>
						<td th:text="${item.timestamp}"></td>
						<td>
							<button class="btn btn-md" type="button"
								th:onclick="'addToCart(\'' +${item.id} + '\');'">Add</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>


		<div class="row">
			<div th:if="${items.totalPages != 1}"
				class="form-group col-md-11 pagination-centered">
				<nav aria-label="Pagination">
					<ul class="pagination">
						<li
							th:class="${items.number == 0} ? 'page-item disabled' : page-item"><a
							class="page-link"
							th:href="@{/(searchString=${searchString}, searchCriteria=${searchCriteria}, pageSize=${selectedPageSize}, page=${items.number})}">Previous</a>
						</li>

						<li
							th:class="${items.number == (page - 1)} ? 'page-item active pointer-disabled' : page-item"
							th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
							<a class="page-link"
							th:href="@{/(searchString=${searchString}, searchCriteria=${searchCriteria}, pageSize=${selectedPageSize}, page=${page})}"
							th:text="${page}"></a>
						</li>

						<li
							th:class="${items.number + 1 == items.totalPages} ? 'page-item disabled' : page-item">
							<a class="page-link"
							th:href="@{/(searchString=${searchString}, searchCriteria=${searchCriteria}, pageSize=${selectedPageSize}, page=${items.number + 2})}">Next</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
		</div>
	</div>
	<div id="itemModalHolder"></div>
	<script>
		function openItemModal(id) {
			$.ajax({
				type : "GET",
				url : "/item/" + id,
				success : function(data) {
					$("#itemModalHolder").html(data);
					$("#itemModal").modal("show");
				},
				complete : function(xhr, textStatus) {
					console.log(xhr.status);
				}
			});
		}

		function addToCart(id) {
			$.get({
				url : "/basket/add",
				data : {
					"id" : id
				},
				success : function(data, textStatus, xhr) {
					console.log(xhr.status);
				},
				complete : function(xhr, textStatus) {
					console.log(xhr.status);
				}
			});
		}
	</script>
</th:block>
</html>
